.annotatePart {
  display: inline-block;
  padding: 1px 0;
  transition: box-shadow 0.2s ease 0s, background-color 0.1s ease 0s, padding 0.3s ease-in-out;
  user-select: none;
}

.rangeStart {
  background-color: hsla(0, 79%, 72%, 50%);
}

.isInRange {
  background-color: lightgreen;
  cursor: pointer;
}

.annotationAllowedOnPart:hover:not(.rangeStart):not(.isInRange) {
  background-color: hsla(120, 73%, 75%, 50%);
}

/* mobile devices, touch only */
@media only screen and (pointer: coarse) {
  .annotationAllowedInGeneral {
    padding: 3px 6px 3px 9px;
  }
}

.annotatePartTooltipButton > *:first-child {
  padding-right: 4px;
}
