.progressBar {
  background-color: var(--color-annotation-progress-bar);
  height: 0.5rem;
  margin: -8px 0 0 -8px;
}

.container {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.container > * {
  margin: calc(var(--margin-medium) / 2) 0;
}

.actionBar {
  margin-top: var(--margin-xsmall);

  display: flex;
  justify-content: space-between;
}

.queryText {
  font-weight: var(--weight-heavy);
}

.annotationArea {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* add a little bit of vertical padding because otherwise chrome shows the scrollbar, 
     even if it is not necessary... */
  padding: 0.5px 0;
}

/* add whitespace to last row of document text (https://stackoverflow.com/a/34816625/1700319) 
   use high flex-grow value so that the element consumes the entire left space of the flex row
*/
.annotationArea::after {
  content: '';
  flex-grow: 9999999;
}

.annotationArea.noUserSelectionAllowed * {
  user-select: none;
}

.annotationArea span::selection {
  background: var(--color-annotation-allowed-highlight);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* the button container does not need any margin because the flex items will 
     get margins, and thus make the container bigger anyways */
  margin: 0;
}

.footer > * {
  margin: calc(var(--margin-xxsmall) / 2);
}

.guideText {
  flex-grow: 1;
  width: 0;
}

/* mobile devices, touch only */
@media only screen and (pointer: coarse) {
  .container {
    justify-content: space-between;
  }

  .annotationArea {
    flex-grow: 1;
    user-select: none;
  }
}
