.annotatePart {
  display: inline-block;
  padding: 1px 0;
  transition: box-shadow 0.2s ease 0s, background-color 0.1s ease 0s, padding 0.3s ease-in-out;
  flex-grow: 0;
}

.rangeStart {
  background-color: var(--color-annotation-range-start);
}

.isInRange {
  background-color: var(--color-annotation-is-in-range);
  cursor: pointer;
}

.annotationAllowedOnPart:hover:not(.rangeStart):not(.isInRange) {
  background-color: var(--color-annotation-allowed-highlight);
}

/* mobile devices, touch only */
@media only screen and (pointer: coarse) {
  .annotationAllowedInGeneral {
    padding: 3px 0;
  }
}

.annotatePartTooltipButton > *:first-child {
  padding-right: 4px;
}

.placeholder {
  flex-grow: 1;
}
