.container {
  width: 5.5rem;
  display: flex;
}

/* set color variables depending on rate level */
.notRelevant {
  --bg-color: var(--color-ratelevel-not-relevant);
  --darkened-color: var(--color-ratelevel-not-relevant-darkened);
}

.misleadingAnswer {
  --bg-color: var(--color-ratelevel-misleading-answer);
  --darkened-color: var(--color-ratelevel-misleading-answer-darkened);
}

.topicRelevantDoesNotAnswer {
  --bg-color: var(--color-ratelevel-topic-relevant-does-not-answer);
  --darkened-color: var(--color-ratelevel-topic-relevant-does-not-answer-darkened);
}

.goodAnswer {
  --bg-color: var(--color-ratelevel-good-answer);
  --darkened-color: var(--color-ratelevel-good-answer-darkened);
}

.perfectAnswer {
  --bg-color: var(--color-ratelevel-perfect-answer);
  --darkened-color: var(--color-ratelevel-perfect-answer-darkened);
}

/* now apply styles using the color variables */
.button {
  height: 50px;
  width: 100%;
  padding: 0;

  border: 1px solid var(--darkened-color);
  color: var(--color-dense);
  background: var(--bg-color);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.button > div {
  color: white;
}

.hotkey {
  position: absolute;
  top: -1px;
  left: -1px;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 12px;
}

.button > .hotkey {
  background: var(--darkened-color);
}

/* mobile devices, touch only */
@media only screen and (pointer: coarse) {
  .container {
    width: 5rem;
  }

  .button {
    height: 40px;
  }

  .hotkey {
    display: none;
  }
}
