/* bring in normalize.css styles */
@import-normalize;

/* import fonts */
@font-face {
  font-family: 'Selawik Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Selawik Regular'), url('./assets/fonts/selawk.woff') format('woff');
}

@font-face {
  font-family: 'Selawik Light';
  font-style: normal;
  font-weight: normal;
  src: local('Selawik Light'), url('./assets/fonts/selawkl.woff') format('woff');
}

@font-face {
  font-family: 'Selawik Semilight';
  font-style: normal;
  font-weight: normal;
  src: local('Selawik Semilight'), url('./assets/fonts/selawksl.woff') format('woff');
}

@font-face {
  font-family: 'Selawik Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Selawik Semibold'), url('./assets/fonts/selawksb.woff') format('woff');
}

@font-face {
  font-family: 'Selawik Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Selawik Bold'), url('./assets/fonts/selawkb.woff') format('woff');
}
