.annotatePart {
  display: inline-block;
  /* add a little bit of vertical padding to increase line height */
  padding: 1px 0;
  transition: box-shadow 0.2s ease 0s, background-color 0.1s ease 0s, padding 0.3s ease-in-out;
  flex-grow: 0;
}

.rangeStart {
  background-color: var(--color-annotation-range-start);
}

.isInRange {
  background-color: var(--color-annotation-is-in-range);
  cursor: pointer;
}

.annotationAllowedOnPart:hover:not(.rangeStart):not(.isInRange) {
  background-color: var(--color-annotation-allowed-highlight);
}

/* touch devices (primary input is coarse) */
@media (pointer: coarse) {
  .annotationAllowedInGeneral {
    padding: var(--padding-xxxsmall) 0;
  }
}

.annotatePartTooltipButton > *:first-child {
  padding-right: var(--padding-xxxsmall);
}

.whitespace {
  flex-grow: 1;
}
