.line,
.lastLine {
  display: flex;
}

/* all lines except the last line are stretched (simulates justified layout) */
.line {
  justify-content: space-between;
  width: 100%;
}

/* the last line displays its content from left to right */
.lastLine {
  justify-content: flex-start;
}

/* display whitespace characters */
.line > span,
.lastLine > span {
  white-space: pre;
}

.line span::selection,
.lastLine span::selection {
  background: var(--color-annotation-allowed-highlight);
}

.hiddenPlaceholder {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}
