.app {
  --app-container-padding: var(--padding-xxsmall);
  max-width: calc(600px + var(--app-container-padding) * 2);
  height: 100%;
  margin: 0 auto; /* horizontal align */
  padding: var(--app-container-padding);
  box-sizing: border-box;
  overflow: auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: white;

  /* ### COLORS ### */
  --color-primary: #202932;
  --color-primary-font: white;
  --color-error: #c13515;
  --color-disabled: #9b9b9b;
  --color-dense: #1d1d1d;
  --color-soft: #9b9b9b;
  --color-ui-element-highlight: #cccccc;
  --color-destructive: #c13515;

  --color-ratelevel-not-relevant: #ff7e61;
  --color-ratelevel-not-relevant-darkened: #fa2e00;
  --color-ratelevel-misleading-answer: #ebb25c;
  --color-ratelevel-misleading-answer-darkened: #b17316;
  --color-ratelevel-topic-relevant-does-not-answer: #fff599;
  --color-ratelevel-topic-relevant-does-not-answer-darkened: #998a00;
  --color-ratelevel-good-answer: #a2e882;
  --color-ratelevel-good-answer-darkened: #4eb120;
  --color-ratelevel-perfect-answer: #4dc828;
  --color-ratelevel-perfect-answer-darkened: #2c7317;

  --color-annotation-allowed-highlight: #caffca;
  --color-annotation-range-start: #f07f7f80;
  --color-annotation-is-in-range: lightgreen;
  --color-annotation-progress-bar: lightgreen;

  /* ### FONT SIZES AND WEIGHTS ### */
  --font-small: 0.875rem;
  --font-xxxlarge: 2rem;

  --weight-heavy: 700;
  --weight-normal: 400;

  /* ### BORDERS ### */
  --border-small: 0.0625rem;
  --border-medium: 0.125rem;
  --border-xlarge: 0.15rem;
  --border-radius-xsmall: 0.25rem;
  --border-radius-normal: 0.5rem;

  /* ### SIZING ### */
  --margin-xxsmall: 0.5rem;
  --margin-xsmall: 0.75rem;
  --margin-medium: 1rem;
  --margin-xlarge: 2rem;
  --margin-xxlarge: 3rem;
  --padding-xxxsmall: 0.25rem;
  --padding-xxsmall: 0.5rem;
  --padding-medium: 1rem;
  --padding-xlarge: 2rem;
  --padding-xxlarge: 3rem;

  /* ### SPECIAL VARIABLES ### */
  --transform-button: scale(0.96);
  --narrow-content-area-width: 32.5rem;
}

/* touch devices (primary input is coarse) */
@media (pointer: coarse) {
  * {
    font-size: 1.05rem;
  }

  .app {
    --font-small: 0.925rem;
    --font-xxxlarge: 2.05rem;
  }
}

/* apply some default styles */
body {
  margin: 0;
}

body * {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', SegoeUI, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:active,
button:focus {
  outline: 0;
}
