.container {
  /* START center children, vertical and horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* END center children, vertical and horizontal */
}

.adminArea {
  width: var(--narrow-content-area-width);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminArea > * {
  margin: calc(var(--margin-medium) / 2) 0;
}

.actionBar {
  margin: calc(var(--margin-medium) / 2) 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.actionButtons {
  display: flex;
}

.actionButtons > * {
  margin-left: var(--margin-xxsmall);
}

.actionButtons > *:first-child {
  margin-left: 0;
}

.options {
  display: flex;
  flex-direction: column;
}

.options > * {
  margin: calc(var(--margin-xxsmall) / 2) 0;
}

.button {
  width: auto;
}

.statisticsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.statisticValue {
  font-size: var(--font-xxxlarge);
}

.statisticLabel {
  text-align: center;
}

.statistic {
  flex-basis: 50%;
  min-width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--margin-medium) 0;
}
