.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container > * {
  margin: calc(var(--margin-medium) / 2) 0;
}

.container > *:first-child {
  margin-top: var(--margin-xsmall);
}

.headline {
  text-align: center;
  font-weight: var(--weight-xlarge);
  margin-bottom: var(--margin-medium);
}

.errorList {
  margin: var(--margin-medium) 0 0 0;
  color: var(--color-error);
  list-style-position: inside;
  list-style-type: '\1f6a8'; /* thumbs up sign */
  padding: 0;
}

.errorList > li > span {
  padding-left: var(--padding-xxxsmall);
}
