.app {
  max-width: 800px;
  height: 100%;
  margin: 0 auto; /* horizontal align */
  padding: 8px;
  box-sizing: border-box;
  overflow: auto;

  display: flex;
  flex-direction: column;

  background-color: white;

  --color-primary: #4d606e;
  --color-error: rgb(193, 53, 21);
  --color-disabled: #9b9b9b;
  --color-dense: #1d1d1d;
  --color-soft: #9b9b9b;
  --color-ui-element-highlight: #cccccc;

  --weight-xlarge: 800;
  --weight-large: 600;
  --weight-medium: 400;

  --font-small: 0.875rem;
  --font-xxxlarge: 2rem;

  --border-small: 0.0625rem;
  --border-xlarge: 0.15rem;
  --border-radius-normal: 0.5rem;

  --margin-xxsmall: 0.5rem;
  --margin-xsmall: 0.75rem;
  --margin-medium: 1rem;
  --margin-xxlarge: 1.625rem;
  --padding-xxxsmall: 0.25rem;
  --padding-xxsmall: 0.5rem;
  --padding-xsmall: 0.75rem;
  --padding-small: 0.875rem;
  --padding-medium: 1rem;
  --padding-xlarge: 1.5rem;

  --transform-button: scale(0.96);

  --narrow-content-area-width: 32.5rem;
}

* {
  font-size: 1rem;
}

button:active,
button:focus {
  outline: 0;
}
