.container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  padding: 8px;

  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius-normal);
  background-color: white;
}

.dialog > *:first-child {
  margin-bottom: 8px;
}
