.progressBar {
  background-color: lightgreen;
  height: 0.5rem;
  margin: -8px 0 0 -8px;
}

.container {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > * {
  margin: calc(var(--margin-medium) / 2) 0;
}

.actionBar {
  margin-top: var(--margin-xsmall);

  display: flex;
  justify-content: space-between;
}

.queryText {
  font-weight: var(--weight-large);
}

.horizontalLine {
  margin: 0;
  border-bottom: 2px black solid;
}

.annotationArea {
  flex-grow: 1;
  overflow: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* the button container does not need any margin because the flex items will 
     get margins, and thus make the container bigger anyways */
  margin: 0;
}

.footer > * {
  margin: calc(var(--margin-xxsmall) / 2);
}

.guideText {
  flex-grow: 1;
  width: 0;
}
