.annotatePart {
  display: inline-block;
  padding: 1px 0;
  transition: box-shadow 0.2s ease 0s, background-color 0.1s ease 0s, padding 0.3s ease-in-out;
}

.rangeStart {
  background-color: lightcoral;
}

.isInRange {
  background-color: lightgreen;
  cursor: pointer;
}

/* mobile devices, touch only */
@media only screen and (pointer: coarse) {
  .gridStyle {
    padding: 3px 6px 3px 9px;
  }
}

.annotatePartTooltipButton > *:first-child {
  padding-right: 4px;
}
