.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.inputArea {
  width: var(--narrow-content-area-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputArea > * {
  width: 100%;
}

.headline {
  text-align: center;
  margin: calc(var(--margin-xxlarge) / 2) 0;
}

.headline > h1 {
  margin: 0 0 var(--margin-xxsmall) 0;
}

.inputHeadline {
  text-align: center;
  font-weight: var(--weight-xlarge);
  margin-bottom: var(--margin-medium);
}

.inputArea > form > button {
  margin-top: var(--margin-medium);
}

.inputContainer {
  border: var(--border-small) solid var(--color-soft);
  border-radius: var(--border-radius-normal);
}

.inputDivider {
  width: 100%;
  border-top: var(--border-small) solid var(--color-soft);
}

.inputContainer:focus-within > .inputDivider {
  height: var(--border-small);
  border: 0;
}

.inputField:focus-within {
  border: var(--border-xlarge) solid var(--color-dense);
  border-radius: var(--border-radius-normal);
  margin-top: calc(var(--border-xlarge) * -1);
  margin-bottom: calc(var(--border-xlarge) * -1);
  margin-left: calc(var(--border-xlarge) * -1);
  margin-right: calc(var(--border-xlarge) * -1);
}

.inputFieldError {
  font-weight: var(--weight-xlarge);
  border-color: var(--color-error);
}

.inputFieldError:focus-within {
  border-color: var(--color-error);
}

.inputFieldError > label {
  color: var(--color-error);
}

.errorList {
  margin: var(--margin-medium) 0 0 0;
  color: var(--color-error);
  list-style-position: inside;
  list-style-type: '\1f6a8'; /* thumbs up sign */
  padding: 0;
}

.errorList > li > span {
  padding-left: var(--padding-xxxsmall);
}

@media (max-width: 520px) {
  .inputArea {
    width: 100%;
  }
}
