.button {
  width: 100%;
  border: none;
  border-radius: var(--border-radius-normal);
  outline: none;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s, background-color 0.1s ease 0s;
  transform-origin: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.typePrimary {
  background-color: var(--color-primary);
  color: white;
}

.typePrimary:hover {
  filter: brightness(110%);
}

.typePrimary:disabled {
  background-color: var(--color-disabled);
}

.typeSecondary {
  background-color: white;
  color: var(--color-primary);
  border: var(--border-small) solid var(--color-soft);
}

.typeSecondary:hover {
  filter: brightness(95%);
}

.styleBold {
  height: 50px;
  padding: 0 var(--padding-xxxsmall);
  font-weight: var(--weight-large);
}

.styleNormal {
  height: 35px;
  padding: 0 var(--padding-xxsmall);
}

.styleNormal * {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
}

.animate {
  transform: var(--transform-button);
}
