.labelInput {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: var(--border-radius-normal);
}

.inputContainer:focus-within {
  border: var(--border-xlarge) solid var(--color-dense);
  margin-top: calc(var(--border-xlarge) * -1);
  margin-bottom: calc(var(--border-xlarge) * -1);
  margin-left: calc(var(--border-xlarge) * -1);
  margin-right: calc(var(--border-xlarge) * -1);
}

.inputContainerError {
  font-weight: var(--weight-heavy);
}

.inputContainerError:focus-within {
  border-color: var(--color-error);
}

.inputContainerError > label {
  color: var(--color-error);
}

.label {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  color: var(--color-soft);
  bottom: 0.83rem;
  top: 1.125rem;
  left: 0.75rem;
  right: 0.75rem;
  transition: all 0.2s ease-in-out;
  transform-origin: left top;
  cursor: text;
  pointer-events: none;
  transform: none;
}

.labelActive {
  opacity: 0.85;
  transform: translateY(-0.5rem) scale(0.75);
}

.input {
  padding: 0;
  margin: 1.625rem 0.75rem 0.625rem 0.75rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: var(--color-soft);
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.inputActive::placeholder {
  opacity: 1;
}

.textarea {
  resize: none;
  overflow: hidden;
  padding: 0;
  margin: 0.625rem 0.75rem 0.625rem 0.75rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.select {
  height: 100%;
  padding-top: 12px;
  margin: 0.625rem 0.75rem 0.625rem 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}
