.inputContainer {
  border: var(--border-small) solid var(--color-soft);
  border-radius: var(--border-radius-normal);
}

.inputDivider {
  width: 100%;
  border-top: var(--border-small) solid var(--color-soft);
}

.inputContainer:focus-within > .inputDivider {
  height: var(--border-small);
  border: 0;
}

.errorList {
  margin: var(--margin-medium) 0 0 0;
  color: var(--color-error);
  list-style-position: inside;
  list-style-type: '\1f6a8'; /* thumbs up sign */
  padding: 0;
}

.errorList > li > span {
  padding-left: var(--padding-xxxsmall);
}
